/* Стили для секции discography и similar */
.discography,
.similar {
  &-body {
    align-items: flex-start;
  }

  &-item {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 17px;

    @media (width <= 600px) {
      max-width: 137px;
      gap: 18px;
    }

    img {
      width: 100%;
    }
  }
}

.similar-item {
  gap: 18px;
}
