/* Стили для секции "моблиьное приложение" */
.app {
  &-body {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    @media (width <= 690px) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &-img {
    max-width: 333px;
    max-height: 278px;
    margin-right: 123px;

    @media (width <= 1200px) {
      margin-right: 0;
    }

    @media (width <= 690px) {
      flex-direction: column-reverse;
    }
  }

  &-block {
    max-width: 600px;
    width: 100%;
    padding-top: 16px;

    @media (width <= 690px) {
      padding-top: 0;
    }
  }
}
