.btn {
  outline: none;
  border: none;
  border-radius: var(--br-5);
  cursor: pointer;
}

.btn-full {
  width: 100%;
}

.btn-big {
  padding: 20px 30px;
}

.btn-green {
  background: var(--green);
}

.btn-transparent {
  border: 1px solid var(--white);
  background: transparent;
}
