.btn {
  outline: none;
  border: none;
  border-radius: var(--br-5);
  cursor: pointer;
}

.btn-full {
  width: 100%;
}

.btn-small {
  padding: 16px 30px;
}

.btn-big {
  padding: 20px 30px;
}

.btn-app {
  padding: 16px 40px;
}

.btn-artist {
  max-width: 200px;
  width: 100%;
  display: flex;
  gap: 16px;
}

.btn-green {
  background: var(--green);
}

.btn-red {
  background: var(--red);
}

.btn-purple {
  background: var(--purple);
}

.btn-transparent {
  background: transparent;
}

.btn-br-white {
  border: 1px solid var(--white);
}

.btn-br-grey {
  border: 1px solid var(--dark-grey);
}

.btn-br-50 {
  border-radius: var(--br-50);
}
