.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;

  @media (width <= 1240px) {
    width: 100%;
    padding: 0 20px;
  }
}

.transition-color {
  transition: color 0.3s;
}

/* Отступы */
.mb-1 {
  margin-bottom: 1px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-18 {
  margin-bottom: 18px;

  @media (width <= 600px) {
    margin-bottom: 16px;
  }
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;

  @media (width <= 600px) {
    margin-bottom: 16px;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-200 {
  margin-bottom: 200px;

  @media (width <= 600px) {
    margin-bottom: 203px;
  }
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

/* Стили секции footer */
.footer {
  padding: 3rem 0 2rem;

  &-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-bottom: 72px;

    @media (width <= 800px) {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }

  &-item {
    grid-column: span 1;
  }

  &-list {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  &-li {
    a {
      color: inherit;
    }
  }

  &-icons {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &-line {
    grid-column: span 4;
    width: 100%;
    height: 2px;
    background: var(--dark-grey);

    @media (width <= 800px) {
      height: 1px;
    }
  }

  &-menu {
    grid-column: span 4;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    list-style: none;

    @media (width <= 800px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
