.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;

  @media (width <= 1240px) {
    width: 100%;
    padding: 0 20px;
  }
}

.transition-color {
  transition: color 0.3s;
}

/* Отступы */
.mb-18 {
  margin-bottom: 18px;

  @media (width <= 600px) {
    margin-bottom: 16px;
  }
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;

  @media (width <= 600px) {
    margin-bottom: 16px;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-200 {
  margin-bottom: 200px;

  @media (width <= 600px) {
    margin-bottom: 203px;
  }
}

.pt-100 {
  padding-top: 100px;
}
