/* Переменные */

:root {
  /* Цветовая палитра */
  --white: #fff;
  --black: #08020d;
  --dark: #3c3b3d;
  --grey: #e0e0e0;
  --dark-grey: #cacaca;
  --green: #34c176;
  --orange: #f89202;
  --purple: #5328a1;
  --red: #95390c;

  /* Начертания шрифтов */
  --font-400: 400;
  --font-500: 500;
  --font-700: 700;

  /* Размеры шрифтов для десктопов */
  --h1-d-size: 60px;
  --h2-d-size: 38px;
  --h3-big-d-size: 30px;
  --h3-d-size: 24px;
  --h4-d-size: 18px;
  --size-16px: 16px;
  --size-14px: 14px;

  /* Межстрочный интервал для десктопов */
  --lh-normal: 1.5;
  --h1-d-lh: 90px;
  --h2-d-lh: 57px;
  --h3-d-lh: 45px;
  --h4-d-lh: 27px;

  /* Размеры шрифтов для мобильных */
  --h1-m-size: 30px;
  --h2-m-size: 18px;
  --h3-m-size: 16px;

  /* Межстрочный интервал для мобильных */
  --h1-m-lh: 45px;
  --h2-m-lh: 27px;
  --h3-m-lh: 24px;

  /* Скругление углов */
  --br-1: 1rem;
  --br-3: 3px;
  --br-5: 5px;
  --br-50: 50px;
}
