@charset "UTF-8";

/* Подключение шрифтов */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf");
}

/* Переменные */
:root {
  /* Цветовая палитра */
  --white: #fff;
  --black: #08020d;
  --dark: #3c3b3d;
  --grey: #e0e0e0;
  --dark-grey: #cacaca;
  --green: #34c176;
  --orange: #f89202;
  --purple: #5328a1;
  --red: #95390c;

  /* Начертания шрифтов */
  --font-400: 400;
  --font-500: 500;
  --font-700: 700;

  /* Размеры шрифтов для десктопов */
  --h1-d-size: 60px;
  --h2-d-size: 38px;
  --h3-big-d-size: 30px;
  --h3-d-size: 24px;
  --h4-d-size: 18px;
  --size-16px: 16px;
  --size-14px: 14px;

  /* Межстрочный интервал для десктопов */
  --lh-normal: 1.5;
  --h1-d-lh: 90px;
  --h2-d-lh: 57px;
  --h3-d-lh: 45px;
  --h4-d-lh: 27px;

  /* Размеры шрифтов для мобильных */
  --h1-m-size: 30px;
  --h2-m-size: 18px;
  --h3-m-size: 16px;

  /* Межстрочный интервал для мобильных */
  --h1-m-lh: 45px;
  --h2-m-lh: 27px;
  --h3-m-lh: 24px;

  /* Скругление углов */
  --br-1: 1rem;
  --br-3: 3px;
  --br-5: 5px;
  --br-50: 50px;
}

/* Сброс стилей по умолчанию */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: var(--font-400);
  line-height: var(--lh-normal);
  color: var(--dark-grey);
  background: var(--black);
}

header,
section,
footer {
  position: relative;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input {
  border: none;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

@media (width <= 1240px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

.transition-color {
  transition: color 0.3s;
}

/* Отступы */
.mb-15 {
  margin-bottom: 15px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-18 {
  margin-bottom: 18px;
}

@media (width <= 600px) {
  .mb-18 {
    margin-bottom: 16px;
  }
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

@media (width <= 600px) {
  .mb-30 {
    margin-bottom: 16px;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-200 {
  margin-bottom: 200px;
}

@media (width <= 600px) {
  .mb-200 {
    margin-bottom: 203px;
  }
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

/* Стили секции footer */
.footer {
  padding: 3rem 0 2rem;
}

.footer-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-bottom: 72px;
}

@media (width <= 800px) {
  .footer-body {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.footer-item {
  grid-column: span 1;
}

.footer-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer-li a {
  color: inherit;
}

.footer-icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-line {
  grid-column: span 4;
  width: 100%;
  height: 2px;
  background: var(--dark-grey);
}

@media (width <= 800px) {
  .footer-line {
    height: 1px;
  }
}

.footer-menu {
  grid-column: span 4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  list-style: none;
}

@media (width <= 800px) {
  .footer-menu {
    flex-direction: column;
    align-items: flex-start;
  }
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

/* Стили для текста */
h1 {
  font-size: var(--h1-d-size);
  line-height: var(--h1-d-lh);
}

@media (width <= 600px) {
  h1 {
    font-size: var(--h1-m-size);
    line-height: var(--h1-m-lh);
  }
}

h2 {
  font-size: var(--h2-d-size);
  line-height: var(--h2-d-lh);
}

@media (width <= 600px) {
  h2 {
    font-size: var(--h2-m-size);
    line-height: var(--h2-m-lh);
  }
}

h3 {
  font-size: var(--h3-d-size);
  line-height: var(--h3-d-lh);
}

@media (width <= 600px) {
  h3 {
    font-size: var(--h3-m-size) !important;
    line-height: var(--h3-m-lh);
  }
}

h4 {
  font-size: var(--h4-d-size);
  line-height: var(--h4-d-lh);
}

@media (width <= 600px) {
  h4 {
    font-size: var(--h4-m-size);
    line-height: var(--h4-m-lh);
  }
}

.text-center {
  text-align: center;
}

/* Трансформация текста */
.upper {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/* Начертание текста */
.regular {
  font-weight: var(--font-400);
}

.medium {
  font-weight: var(--font-500);
}

.bold {
  font-weight: var(--font-700);
}

/* Цвет текста */
.white {
  color: var(--white);
}

.dark-grey {
  color: var(--dark-grey);
}

.dark {
  color: var(--dark);
}

.orange {
  color: var(--orange);
}

.grey {
  color: var(--grey);
}

/* Размер текста */
.font-14px {
  font-size: var(--size-14);
}

.font-16px {
  font-size: var(--size-16);
}

.font-18px {
  font-size: var(--h4-d-size);
  line-height: 150%;
}

.h3-big {
  font-size: var(--h3-big-d-size);
}

/* Текст */
.text-small {
  font-size: 12.8px;
  line-height: 150%;
}

.text-small-2 {
  font-size: 12px;
  line-height: 160%;
}

.text-1 {
  font-size: 16px;
  line-height: 150%;
}

.text-3 {
  font-size: 32px;
  line-height: 150%;
}

.btn {
  outline: none;
  border: none;
  border-radius: var(--br-5);
  cursor: pointer;
}

.btn-full {
  width: 100%;
}

.btn-small {
  padding: 16px 30px;
}

.btn-big {
  padding: 20px 30px;
}

.btn-app {
  padding: 16px 40px;
}

.btn-artist {
  max-width: 200px;
  width: 100%;
  display: flex;
  gap: 16px;
}

.btn-green {
  background: var(--green);
}

.btn-red {
  background: var(--red);
}

.btn-purple {
  background: var(--purple);
}

.btn-transparent {
  background: transparent;
}

.btn-br-white {
  border: 1px solid var(--white);
}

.btn-br-grey {
  border: 1px solid var(--dark-grey);
}

.btn-br-50 {
  border-radius: var(--br-50);
}

/* Стили для первой секции сайта (шапка и баннер) */
.home {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home .header {
  position: absolute;
  top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  width: 100%;
  height: auto;
  background: transparent;
}

@media (width <= 1240px) {
  .home .header {
    width: calc(100% - 40px);
  }
}

@media (width <= 538px) {
  .home .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}

.home .header-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 90px;
}

@media (width <= 538px) {
  .home .header-block {
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
  }
}

.home .header-logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.home .header-logo img {
  width: 24px;
  height: auto;
}

.home .header-text {
  font-size: 11px;
  line-height: 150%;
}

@media (width <= 538px) {
  .home .header-text {
    font-weight: var(--font-700);
  }
}

.home .header-menu {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
}

@media (width <= 538px) {
  .home .header-menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}

.home .header-menu li:hover {
  color: var(--white);
}

.home .header-menu li > a {
  color: inherit;
}

.home .header-search {
  position: relative;
  width: 248px;
}

@media (width <= 810px) {
  .home .header-search {
    width: 100%;
  }
}

.home .header-search input {
  width: 100%;
  height: 25px;
  padding: 5px 10px;
  border-radius: var(--br-50);
  background: var(--dark);
}

.home .promo {
  padding: 200px 0;
}

@media (width <= 538px) {
  .home .promo {
    padding: 247px 0 200px;
  }
}

@media (width <= 538px) {
  .home .promo-artist {
    padding: 225px 0;
  }
}

.home .promo .form {
  max-width: 570px;
  width: 100%;
  margin: 0 auto;
}

.home .promo .form-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

@media (width <= 604px) {
  .home .promo .form-inputs {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }
}

@media (width <= 604px) {
  .home .promo .form-inputs div {
    width: 100%;
  }
}

.home .promo .form-inputs label {
  display: block;
  width: 0;
  font-size: 0;
}

.home .promo .form-inputs input {
  min-width: 270px;
  width: 100%;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border-radius: var(--br-3);
  background: transparent;
  border: 2px solid var(--dark-grey);
}

.home .promo .form-inputs input::placeholder {
  color: inherit;
}

.home .promo-btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}

.home .promo-btns button > svg {
  width: 20px;
  height: 20px;
}

.bg-home {
  background-image: url("../images/banner.png");
}

.bg-artist {
  background-image: url("../images/Morten Harket.png");
}

/* Стили для секции "Формы подписки" */
.pricing-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.pricing-item {
  min-width: 280px;
  max-width: 400px;
  width: calc(33.3333% - 33.3333px);
  flex: 1 1 280px;
  padding: 24px 1.5rem 64px;
  border-radius: var(--br-1);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (width <= 600px) {
  .pricing-item {
    padding-top: 16px;
  }
}

.pricing-price {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.pricing-number {
  font-size: 64px;
  line-height: 100%;
}

.pricing-value {
  line-height: 1em;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
}

.bg-standard {
  background-image: url("../images/subscribe_2.png");
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
}

/* Стили секции "последние новости" */
.news-body {
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.news-item {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.news-item:nth-child(2n) {
  flex-direction: row-reverse;
}

@media (width <= 900px) {
  .news-item {
    max-width: 575px;
    flex-direction: column !important;
    margin: 0 auto;
  }
}

.news-photo {
  max-width: 575px;
  width: 100%;
  max-height: 290px;
  height: 100%;
}

.news-block {
  padding-bottom: 18px;
}

@media (width <= 900px) {
  .news-block {
    padding-bottom: 0;
  }
}

.news-author {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Стили для секции "моблиьное приложение" */
.app-body {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

@media (width <= 690px) {
  .app-body {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.app-img {
  max-width: 333px;
  max-height: 278px;
  margin-right: 123px;
}

@media (width <= 1200px) {
  .app-img {
    margin-right: 0;
  }
}

@media (width <= 690px) {
  .app-img {
    flex-direction: column-reverse;
  }
}

.app-block {
  max-width: 600px;
  width: 100%;
  padding-top: 16px;
}

@media (width <= 690px) {
  .app-block {
    padding-top: 0;
  }
}
